h1 {
  color: limegreen;
  text-align: justify;
}
h2 {
  color: #00f;
  text-align: center;
}
p {
  color: black:
  font-family: cursive;
  text-align: left;
}
ul {
  font-size: 20px;
  line-height: 30px;
}
